/* Reset básico */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f6f8;
    color: #333;
}

/* Contenedor general */
section {
    max-width: 600px;
    margin: 100px auto;
    background-color: #fff;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    text-align: center;
}

/* Imagen del producto */
article img {
    width: 100%;
    max-width: 250px;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Títulos de info */
article h5 {
    font-size: 18px;
    margin: 10px 0;
    color: #1f2937;
}