* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'roboto';
}

.header {
   min-height: 10dvh;
   box-shadow: 0 2px 5px -3px black;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}

.header h1 {
   margin-left: 2rem;
}

.header nav {
   display: flex;
   gap: 0 2rem;
   margin-right: 2rem;
}
.header nav a {
   text-decoration: none;
   font-weight: 700;
   color: black;
}
.header nav .cart {
   display: flex;
   gap: 0.2rem;
   align-items: center;
}
.header nav .cart p {
   border-radius: 2rem;
   padding: 0.1rem 0.3rem;
   background-color: black;
   color: white;
   font-size: 0.8rem;
}
.productos {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
   padding: 2rem;
   gap: 1rem;
}
.productos article {
   display: flex;
   flex-direction: column;
   padding: 1rem;
   box-shadow: 0px 0px 10px -3px black;
}
.productos article img {
   border-radius: 1rem;
   width: 100%;
}
.productos article ul {
   list-style: none;
}
.form {
   margin-top: auto;
}
.buttonCart {
   padding: 0.5rem 1rem;
   border: none;
   border-radius: 0.2rem;
   margin-top: 1rem;
   box-shadow: 0px 0px 10px -3px black;
}
