<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Inicio</title>
</head>
<body>
<div layout:fragment="contenido">
    <h2 class="mb-4">Bienvenido al Sistema</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Gestión de Usuarios</h5>
                    <p class="card-text">Administre los usuarios del sistema.</p>
                    <a th:href="@{/user}" class="btn btn-primary">Ir a Usuarios</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Gestión de Cajas</h5>
                    <p class="card-text">Administre las cajas del sistema e inicie ventas.</p>
                    <a th:href="@{/caja}" class="btn btn-primary">Ir a Cajas</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Registro de ventas físicas</h5>
                    <p class="card-text">Obtenga el registro de las ventas en tienda.</p>
                    <a th:href="@{/caja-venta}" class="btn btn-primary">Ir a Ventas en Tienda</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>